<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="chatStyle.css">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <button id="menu">
				<i class="fas fa-bars"></i>
			</button>
			<button id="profile">
				<i class="fas fa-user-alt"></i>
			</button>
			<p id="name">Akatsuki</p>
			<p id="lastseen">Yesterday, 7:05pm</p>
        </div>
        <div class="body__message"></div>
        <div class="footer">
            <div class="emoji">
                <button>
                    <i class="fas fa-smile"></i>
                </button>
            </div>
            <div class="text">
                <input type="text" name="" id="">
                <input type="file" name="" id="file"/> 
                <label class="btn__file" for="file"  >
                    <i class="fas fa-paperclip"></i>
                </label>
            </div>
            <div class="send">
                <button>
                    <i class="far fa-paper-plane"></i>
                </button>
            </div>     
        </div>
    </div>
</body>
</html>