<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/chatListStyle.css">
    <title>Message Box</title>
</head>
<body>
    <header>
        <a href="./views/ejs files/FarmerProfile.ejs"><i class="fa fa-chevron-left"></i></a>
        <div class="title">
            <h1> Message </h1>
        </div>
    </header>
    <div class="container">
        <a href="https://wa.me/+919408261655" class="person">
            <div class="person-image"><i class="fa fa-user-alt"></i></div>
            <div class="person-chat">
                <h1>Bhavya Desai</h1>
                <h3>Sent a message</h3>
            </div>
        </a>
        <a href="https://wa.me/+919737745322" class="person">
            <div class="person-image"><i class="fa fa-user-alt"></i></div>
            <div class="person-chat">
                <h1>Tejus Patel</h1>
                <h3>Sent a message</h3>
            </div>
        </a>
        <a href="https://wa.me/+919157464959" class="person">
            <div class="person-image"><i class="fas fa-user-alt"></i></div>
            <div class="person-chat">
                <h1>Abhishek Gohil</h1>
                <h3>Sent a message</h3>
            </div>
        </a>
    </div>
</body>
</html>