<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/loginStyle.css"/>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="title-container">
            <img src="/images/Capture.PNG" alt="">
            <h1> Farm Trade </h1>
        </div>
        <div class="card">
            <div id="error" style="display: <%= display %>;">
                Wrong Username/Email or Password
            </div>
            <form action="/admin/user" method="POST">
                <div class="input-group">
                    <input class="input" type="text" id="name" name="name" required/>
                    <label class="input" for="name"><span class="fa fa-user-circle"> Username or E-mail</span></label>
                </div>
                <div class="input-group" >
                    <input class="input" id="password" type="password" name="password" required/>
                    <label class="input" for="password"><span class="fa fa-lock"> Password</span>
                        <a href="/newPassword" style="float:right">Forgot?</a>
                    </label>
                </div>
                <div class="same-row">
                    <input class="input" type="checkbox" name="remember" id="remember"/>
                    <label for="remember">Remember me</label>
                </div>
                <button type="submit">Submit</button>
                <div>
                    <h5>Don't have an account? <a href="/admin/Registration">Sign-up</a></h5>
                </div>
            </form>
        </div>
    </div>
    <script rel="script" type="application/ecmascript" src="/js/loginScript.js"></script>
</body>
</html>