<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/registrationStyle.css"/>
    <title>Register</title>
</head>
<body>
    <div class="container">
        <div class="title-container">
            <h2>Getting Started</h2>
            <h4>Create an account to continue</h4>
        </div>
        <div class="image-container">
            <img src="/images/basket2.PNG" alt="">
        </div>
        <div class="card">
            <form action="/newUser" method="POST">
                <div class="input-group">
                    <input class="input" type="text" id="name" name="name" required/>
                    <label class="input" for="name"><span class="fa fa-user-circle"> Your Name </span></label>
                </div>
                <div class="input-group" >
                    <input class="input" id="phone" type="tel" name="phone" required/>
                    <label class="input" for="phone"><span class="fa fa-phone"> Phone Number </span></label>
                </div>
                <div class="input-group" >
                    <input class="input" id="email" type="text" name="email" required/>
                    <label class="input" for="email"><span class="fa fa-envelope"> Email </span></label>
                </div>
                <div class="input-group" >
                    <input class="input" id="password" type="password" name="password" required/>
                    <label class="input" for="password"><span class="fa fa-lock"> Password</span></label>
                </div>
                <div class="input-radio-group">
                    <div>
                        <input class="input" id="farmer" type="radio" name="occupation" value="Farmer" checked/>
                        <label class="input" for="farmer"> Farmer </label>
                    </div>
                    <div>
                        <input class="input" id="vendor" type="radio" name="occupation" value="Vendor"/>
                        <label class="input" for="vendor"> Vendor </label>
                    </div>
                </div>
                <button type="submit">Submit</button>
                <div>
                    <h5>Already have and account? <a href="/Login"> Sign-in </a></h5>
                </div>
            </form>
        </div>
    </div>
    <!-- <script rel="script" type="application/ecmascript" src="js/loginScript.js"></script> -->
</body>
</html>